body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrolling: smooth;
  text-align: center;
  font-family: "Manrope", sans-serif;
}
.main {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
a {
  color: white;
}
.container {
  height: 100%;
  width: 100%;
  /* max-width: 60%; */
  /* background: black; */
  color: white;
  /* height: 40rem; */
  /* border-radius: 1.5rem; */
  display: flex;
  flex-direction: row;
  /* margin: 5rem 2rem; */
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
}

.language {
  height: 1.3rem;
  width: 3rem;
  border: none;
  border-radius: 1rem;
  padding: 2px;
  color: #433;
  font-weight: 800;
}

.form_box h1 {
  font-weight: bold;
  font-size: 3rem;
}
.form_box p {
  /* font-size: 1rem; */
}
.form {
  background: linear-gradient(
    270deg,
    rgba(18, 21, 28, 1) 0%,
    rgba(30, 20, 30, 0.9558404558404558) 45%,
    rgba(70, 70, 70, 0.9814814814814815) 90%
  );
  height: 48.6rem;
  width: 50%;
  margin: 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.input_box {
  border: none;
  border-radius: 2rem;
  width: 80%;
  height: 2rem;
  padding-left: 0.7rem;
  margin: 1rem;
}
.input_box:hover {
  box-shadow: 0 2px 10rem #00f9;
}

.action_button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 2rem;
  width: 83%;
  height: 2.1rem;
  margin: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.action_button:hover {
  box-shadow: 0 2px 10rem #00f9;
}

a {
  text-decoration: none;
}

.right_start a {
  position: relative;
  left: 40%;
}
.card {
  height: 44.6rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  background: url("../assets/Card-bg3.jpg");
  background-size: 150%;
  /* border-radius: 0 1.5rem 1.5rem 0; */
  padding: 2rem;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: space-between;
  padding: 2 1rem;
}

.button_outlined {
  color: white;
  background-color: black;
  border-radius: 2rem;
  border: 0.14rem solid white;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

.quotes {
  color: white;
  text-align: start;
}

.quotes_option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quotes_option_buttons {
  padding: 1rem;
}
.quotes_option_buttons button {
  border-radius: 3rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: black;
  color: white;
  border: 0.15rem solid white;
  margin: 0 0.1rem;
  cursor: pointer;
}
input[name="age"] {
  -moz-appearance: textfield;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.gallery_slider {
  display: flex;
  justify-content: center;
}

.gallery_slider_current img {
  height: 12rem;
  /* margin: 0 1rem; */
}

.gallery_slider button {
  width: 10rem;
  background-color: #0009;
  border: none;
  color: white;
  font-size: 3.4rem;
  cursor: pointer;
}
.gallery_slider button:hover {
  background-color: #000b;
  box-shadow: 0 2px 10rem #00a8;
}

@media screen and (max-width: 1040px) {
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form {
    width: 100%;
  }
  .card {
    width: 100%;
  }
}
@media screen and (max-width: 600px) and min(width:350px) {
  .gallery_slider button {
    width: 5rem;
  }
}
@media screen and (max-width: 350px) {
  .form_box {
    align-items: center;
    text-align: center;
  }
  .right_start {
    position: relative;
    right: 2em;
  }
  .gallery_slider_current img {
    width: 10rem;
  }
  .gallery_slider button {
    width: 8rem;
  }
}
